@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap');

.container {
    margin: auto;
    padding: 1%;
    font-family: 'Lunasima', sans-serif;
    flex-wrap: wrap;
}

.code {
    background-color: rgb(216, 216, 209);
    padding-bottom: 20px;
}    

pre {
    color: rgb(197, 26, 26);
    font-size: medium;
    font-weight: 900;
    padding-top: 30px;
}

.border {
    background-color: rgb(216, 216, 209);
}

.border1 {
    background-color: rgb(216, 216, 209);
    margin: 3px;
    display: flex;
    flex-direction: row;
    border-right: 0px;
}

h1, h2 {
    text-align: center;
    font-weight: 900;
}

.block4 {
    margin: 0px;
    padding: 0.2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.block, .block2, .block3 {
    border-bottom: 1px solid black;
}

