* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-image: url(/03_Fruits/Img/rabstol_net_fruits_22.jpg);
    background-repeat: repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.block {
    background-color: rgba(255, 147, 7, 0.7);
    border-style: double;
    width: 40%;
    margin: 250px 420px;
    padding: 10px;
}

ol {
    list-style-type: none;
    counter-reset: number;
    background-color: rgba(255, 176, 72);
    width: 96%;
    margin: 20px 20px 20px 10px;
    padding: 20px;
}

.border {
    background-color: rgb(175, 99, 0);
    padding: 5px 15px;
}

li {
    background-color: rgb(238, 137, 5);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 5px;
}

li::before {
    content: counter(number) ".";
    counter-increment: number;
    color: aliceblue;
    background-color: rgb(238, 137, 5);
    padding: 5px;
    margin-right: 4px;
    background-clip: border-box;
}

@media (max-width: 979px) {
    body {
        background-size: cover;
        height: 100vh;
    }
    .block {
        width: 50%;
        margin: 25%;
    }
}

@media (max-width: 767px) {
    body {
        background-size: cover;
    }
    .block {
        width: 60%;
        margin: 20%;
    }
    ol {
        width: 94%;
    }
}

@media (max-width: 480px) {
    body {
        background-size: cover;
        height: 100vh;
    }
    .block {
        width: 70%;
        margin: 15%;
    }
}