@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: auto;
    box-sizing: border-box;
}

body {
    background-image: url(/05_Credit_card/Img/1642446974_1-phonoteka-org-p-zelenii-perlamutrovii-fon-krasivo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.block1 {
    display: block;
    justify-content: flex-start;
    margin: 0% 10% 5% -10%;
    width: 80%;
}

.block2 {
    display: block;
    justify-content: flex-start;
    margin: 0% 10% 5% -10%;
    width: 80%;
}

.block3 {
    display: flexbox;
    margin: 0% 10% 5% -10%;
    width: 80%;
}

.block4 {
    display: inline;
}

.block6 {
    background-color: rgb(140, 180, 180, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0% 0% -22%;
    width: 100%;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.7);
    position: absolute;

}

.card {
    background-color: rgb(140, 180, 180);
    background-image: url(/05_Credit_card/Img/moon_flag.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
    background-position-y: bottom;
    background-position: 120% 180%;
    border-radius: 3%;
    width: 45%;
    height: 20%;
    margin: 10% 28%;
    padding: 5% 10% 1% 10%;
    display: flexbox;
    align-items: start;
    white-space: nowrap;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.7);
    position: relative;
}

h2 {
    color: aliceblue;
    background-color: rgba(255, 166, 0, 0.8);
    text-align: center;
    width: 130%;
    padding-right: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: -10% 5% 10% -45%;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.card_l {
    color: black;
    font-size: large;
    font-family: 'Roboto';
    display: flex;
    justify-content: flex-start;
    margin: 0% 12% 5% -30%;
    width: 50%;
}

.card_i {
    background-color: rgb(223, 226, 225, 0.5);
    display: flex;
    width: 100%;
    margin: 0% 10% 5% -30%;
    padding: 2%;
}

.card_i::placeholder {
    color: rgb(114, 114, 114);
}

.name_l {
    width: 70%;
    display: flex;
    margin: 0% 10% 5% -30%;
    color: black;
    font-size: large;
    font-family: 'Roboto';
}

.name_i {
    display: inline-block;
    background-color: rgb(223, 226, 225, 0.5);
    width: 100%;
    box-sizing: border-box;
    margin: 0% 30% 0% -30% ;
    padding: 2%;
}

.name_i::placeholder {
    color: rgb(114, 114, 114);
}

.date_l, .cvv_l {
    color: black;
    font-size: large;
    font-family: 'Roboto';
    display: inline;
    margin: 0% 75% 5% -30%;
    width: 25%;
}

.mm_i, .yy_i, .cvv_i {
    background-color: rgb(223, 226, 225, 0.5);
    display: inline;
    margin: 5% 40% 5% -30%;
}

.mm_i::placeholder, .yy_i::placeholder, .cvv_i::placeholder {
    color: rgb(114, 114, 114);
}

.mm_i, .yy_i {
    width: 20%;
    padding: 2%;
}

.cvv_l {
    margin-left: -36%;
}

.cvv_i {
    width: 20%;
    padding: 2%;
    margin-left: -20%;
}

.btn_l {
    color: black;
    font-size: larger;
    font-family: 'Roboto';
    width: 30%;
    margin: 1% 1%;
    padding: 0.5%;
}

.btn {
    width: 10%;
    margin: 1% 1%;
    padding: 0.5%;
    border: 1px solid black;
    font-weight: 700;
    font-family: 'Roboto';
}

@media (max-width: 979px) {
    .card {
        width: 60%;
        height: 30%;
        margin: 15% 20%;
        padding: 7% 10% 0.5% 15%;
    }
    .block6 {
        margin: 5% 0% 0% -25%;
        width: 100%;
    }
    .cvv_l {
        margin-left: -40%;
    }
    .cvv_i {
        margin-left: -23%;
    }
    h2 {
        font-size: large;
    }
    .btn {
        width: 15%;
        font-weight: 700;
        font-size: medium;
    }    
}

@media (max-width: 767px) {
    .card {
        width: 70%;
        height: 30%;
        margin: 20% 15%;
        padding: 8% 10% 0.5% 17%;
    }
    .card_l {
        font-size: x-large;
    }
    .card_i {
        width: 120%;
        padding: 3%;
    }
    .name_l {
        font-size: x-large;
    }
    .name_i {
        width: 120%;
        padding: 3%;
    }   
    .block6 {
        margin: 5% 0% 0% -24%;
        width: 100%;
        padding: 1%;
    }
    .cvv_l {
        margin-left: -45%;
        font-size: x-large;
    }
    .date_l {
        font-size: x-large;
    }
    .mm_i, .yy_i {
        width: 25%;
        padding: 3%;
    }
    .cvv_i {
        margin-left: -24%;
        width: 25%;
        padding: 3%;
    }
    h2 {
        font-size: larger;
    }
    .btn_l {
        font-size: x-large;
    }
    .btn {
        width: 15%;
        font-weight: 700;
        font-size: large;
    }    
}

@media (max-width: 480px) {
    .card {
        background-position: 120% 120%;
        width: 80%;
        height: 30%;
        margin: 30% 10%;
        padding: 9% 10% 0.5% 20%;
    }
    h2 {
        padding-right: 55%;
        width: 150%;
        text-align: center;
        padding-left: 10%;
    }
    .card_i {
        width: 145%;
    }
    .name_i {
        width: 145%;
    }
    .mm_i, .yy_i {
        width: 30%;
    }
    .cvv_l {
        margin-left: -50%;
    }
    .cvv_i {
        width: 30%;
    }
    .block6 {
        margin: 5% 0% 0% -25%;
        width: 100%;
        padding: 1%;
    }
    .btn {
        width: 20%;
        font-size: larger;
    }
}