@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');



body {
    background-color: rgb(231, 231, 212);
    box-sizing: border-box;
    background-image: url(/Portfolio/Vstup_v_html_02/02_Cards/Img/1645221990_1-phonoteka-org-p-kartochnii-stol-fon-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin: 5px;
    background-color: rgb(202, 202, 188);
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}    

.spades {
    border-radius: 10%
}

.clubs {
    border-radius: 10%
}

.hearts {
    color: rgb(168, 7, 7);
    border-radius: 10%;
}

.diams {
    color: rgb(168, 7, 7);
    border-radius: 10%;
}

.block {
    width: 89%;
    margin: 5%;
    padding: 10px 0px 50px 0px;
    background-color: rgba(92, 134, 99, 0.7);
}

.block2 {
    display: flex;
    margin: 30px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.block4 {
    display: flex;
    margin: 30px;
    width: 100%;
    height: 100%;
    align-items: center;
}

@media (max-width: 979px) {
    body {
        background-size: cover;
    }
    .block{
        width: 89%;
    }
}

@media (max-width: 767px) {
    body {
        background-size: cover;
    }
    .block {
        width: 89%;
    }

    .block2, .block4 {
        size: 3%;
    }
}

@media (max-width: 480px) {
    body {
        background-size: cover;
    }
    .block {
        width: 89%;
    }
    .block2, .block4 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        size: 2%;
    }
}