@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
    background-image: url(/01_Profile/Img/photo_2023-06-29_17-12-01_edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 250px;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    border-style: groove;
}

.block {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 10px 20px 10px;
    margin: 10px 20px 10px 20px;
    border-style: double;
}

ul {
    list-style-type: circle black;
}

a {
    color: rgb(203, 213, 221);
    padding-left: 20px;
}

h1, h2 {
    font-family: 'Borel', cursive;
}

p {
    padding-left: 20px;
}

@media (max-width: 979px) {
    img {
        margin-left: 330px;
    }
}

@media (max-width: 767px) {
    img {
        margin-left: 230px;
    }
}

@media (max-width: 480px) {
    img {
        margin-left: 100px;
    }
}